/*
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities/api";*/

@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-condensed-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/barlow-condensed-v11-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/barlow-condensed-v11-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/barlow-condensed-v11-latin-regular.woff") format("woff"), /* Modern Browsers */ url("../fonts/barlow-condensed-v11-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/barlow-condensed-v11-latin-regular.svg#BarlowCondensed") format("svg"); /* Legacy iOS */
}

body {
  position: relative;
  background-color: #000; // 2
  font-family: "Barlow", sans-serif;
}
