body {
  /*background-image: url("./asets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: right -20rem top 60rem;*/
}
main {
  background-color: "#000000";
}
h1 {
  font-size: 88px;
}
h2 {
  font-size: 48px;
}

a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 3px solid #4ee1a0;
}
a:hover {
  color: #4ee1a0;
}

.navbar__hero {
  position: absolute;
  top: 0;
  border-bottom: none;
  font-size: 32px;
  font-weight: 700;
}

.nav__hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2rem;
  width: 80%;
}
.navbar__contact {
  border-bottom: none;
  font-size: 32px;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  border-bottom: none;
}

.contact {
  margin-top: 85px;
  background-color: #242424;
  margin-bottom: 4rem;
}
.card__contact {
  background-color: #242424;
}
.card__heading {
  margin-top: 3rem;
  background-color: #242424;
}
.navbar__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  font-size: 32px;
  font-weight: 700;
}
.nav__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
}
.btn-primary {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  border-bottom: 3px solid #4ee1a0;
  outline: #4ee1a0;
}
.btn-primary:hover {
  background-color: transparent;
  color: #4ee1a0;
  border-bottom: 3px solid #4ee1a0;
}
.btn-primary:active {
  background-color: transparent;
  border-bottom: 3px solid #4ee1a0;
}
.btn-primary:focus {
  background-color: transparent;
  border-bottom: 3px solid #4ee1a0;
}

.pattern-img {
  top: 8rem;
  left: -18rem;
  position: absolute;
}
.img-pattern-contact {
  left: -18rem;
  position: absolute;
}
.pattern-img-right {
  position: absolute;
  right: -20rem;
}
.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.card-img-overlay:hover {
  opacity: 0.8;
}
.card-img-overlay__hero {
  display: flex;
  top: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
}

hr {
  margin-top: 6rem;
}
footer {
  background-color: #242424;
}
.form-control {
  border-radius: 0;
  background-color: #242424;
  border: 0;
  border-bottom: 1px solid #ffffff;
}
.form-label {
  text-transform: uppercase;
}

.form-control:focus {
  background-color: #242424;
  border: 0;
}
.card-text {
  width: 75%;
}
/*mediaquery*/
@media (max-width: 1024px) {
  h1 {
    font-size: 72px;
  }
}
@media (max-width: 768px) {
  .card-body__hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pattern-img {
    z-index: 3;
  }
}
@media (max-width: 768px) {
  .col__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pattern-img-right {
    right: -30rem;
  }
}

@media (max-width: 768px) {
  .navbar__hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .card-body__contact {
    text-align: center;
  }
  .card-text {
    width: 100%;
    margin: 0;
  }
}
