body {
  background-color: "#000000";
}

h1 {
  font-size: 88px;
}
a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 3px solid #4ee1a0;
}
a:hover {
  color: #4ee1a0;
}
.navbar {
  border-bottom: none;
}
.nav-link {
  text-decoration: none;
  border-bottom: none;
}
.col {
  margin-top: 48px;
}

.contact {
  margin-top: 85px;
  background-color: #242424;
  margin-bottom: 4rem;
}
.card {
  background-color: #242424;
}

.btn-primary {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  border-bottom: 3px solid #4ee1a0;
  outline: #4ee1a0;
}
.btn-primary:hover {
  background-color: transparent;
  color: #4ee1a0;
  border-bottom: 3px solid #4ee1a0;
}
.btn-primary:active {
  background-color: transparent;
  border-bottom: 3px solid #4ee1a0;
}
.btn-primary:focus {
  background-color: transparent;
  border-bottom: 3px solid #4ee1a0;
}

.pattern-img {
  top: 4rem;
  left: -18rem;
  position: absolute;
}
.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.card-img-overlay:hover {
  opacity: 0.8;
}
.img {
  position: absolute;
  top: 60rem;
}
